# Model directories
model/
halu_model/checkpoints/
halu_model/wandb/

# Log files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Large dataset files
dataset/squad/
dataset/trivia_qa/
dataset/merged*.jsonl
dataset/ref_sft/
dataset/new_sft/halueval/
dataset/new_sft/medqa/
dataset/sciq/
*.arrow
dataset/**/*.jsonl
halu_model/**/*.jsonl

# Large result files from dataset_type
dataset_type/**/*.jsonl
dataset_type/**/*_evaluated*.json

# Model checkpoints
halu_model/halueval/
halu_model/medqa/
halu_model/sciq/
ref_model/